{% extends "base.html" %}
{% block title %}{{ article_header }}{% endblock %}

{% block page_content %}
<div class="row">
      <div class="col-2 d-none d-xxl-block" id="textbook-content-container">
        <h4 style="margin-top: 20px;">Содержание</h4>
          <div id="panel-destination">
              <div id="transported-elem">
              {% include "quick-textbook-navigation.html" %}
              </div>
          </div>
      </div>
     <div class="offcanvas offcanvas-start" id="offcanvas-content-container">
         <div class="offcanvas-header">
             <h4 style="margin-top: 20px;">Содержание</h4>
             <button type="button" class="btn-close" id="hide-offcanv"></button>
         </div>
         <div class="offcanvas-body" id="offcanv-destination">
         </div>
     </div>

      <div class="col-7 bg-light">
          <h2 style="margin-top: 20px;">{{ article_header }}</h2>
          {% for block in article_content %}
            {% if block.type == "text" %}
                {% if block.type_of_text == "header" %}
                     <h4 id="{{ block.id }}">{{ block.text_block|linebreaks  }}</h4>
                {% elif block.type_of_text == "code" %}
                    <pre class="line-numbers">
                  <code class="language-python">{{ block.text_block }}</code>
                    </pre>
                {% else %}
                    <p>{{ block.text_block|linebreaks }}</p>
                {% endif %}
            {% else %}
                <img src="{{ block.image.url }}" alt="Изображение" class="center-image">
            {% endif %}
          {% endfor %}

          <form method="POST" action="{% url 'mark_article_read' article_pk %}" id="read-form">
              {% csrf_token %}
               Статья прочитана <input type="checkbox" style="boolean-style" class="big-checkbox"
                      name="is_checked" {% if is_article_read %}checked{% else %}unchecked{% endif %}>
          </form>

          <p class="text-center">
              {% if previous_article %}
                <a href="{% url 'article_page' previous_article.pk %}" class="article-link">
                    {{ previous_article.article_name }} <-</a>
              {% endif %}
              <a href="/" class="article-link">Оглавление</a>
              {% if next_article %}
                <a href="{% url 'article_page' next_article.pk %}" class="article-link">
                    -> {{ next_article.article_name }}</a>
              {% endif %}
          </p>
      </div>

      <div class="col-3 d-none d-md-block" style="position: sticky; top: 0; height: 100vh;">
        {% include "quick-chapter-navigation.html" %}
      </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const navigationPanel = document.getElementById('panel-destination');
    const navigationOffcanv = document.getElementById('offcanv-destination');
    const transportedElem = document.getElementById('transported-elem');
    const showBtn = document.getElementById('show-btn');
    const hideBtn = document.getElementById('hide-offcanv');
    const container = document.getElementById('textbook-content-container');
    const offcanv = document.getElementById('offcanvas-content-container');

    function checkHeight() {
        if (container.clientWidth == 0) {
            container.style.display = 'none';
            showBtn.classList.remove('d-none');
        } else {
            container.style.display = 'flex';
            showBtn.classList.add('d-none');
        }
    }

    window.addEventListener('resize', checkHeight);
    checkHeight();

    showBtn.addEventListener('click', function() {
        navigationOffcanv.appendChild(transportedElem);
        offcanv.classList.add('show');
        });

    hideBtn.addEventListener('click', function() {
        navigationPanel.appendChild(transportedElem);
        offcanv.classList.remove('show');
        });
    });

    document.querySelector('#read-form').addEventListener('change', function(event) {
        this.submit();
    });
</script>
{% endblock page_content %}