{% extends "index.html" %}
{% block page_content %}
<div class="row">
      <div class="col-3 d-none d-lg-block">
        <h4>Содержание</h4>
        {% include "quick-textbook-navigation.html" %}
      </div>

      <div class="col" style="background-color: #FAFAFA; height: 100vh;">
          <h2 style="margin-top: 20px;">Введение в кластеризацию</h2>
          <p>Кластерный анализ (англ. cluster analysis) — многомерная статистическая процедура,
              выполняющая сбор данных, содержащих информацию о выборке объектов,
              и затем упорядочивающая объекты в сравнительно однородные группы.</p>
          <p>Кластерный анализ выполняет следующие основные задачи:
          разработка типологии или классификации,
          исследование полезных концептуальных схем группирования объектов,
          порождение гипотез на основе исследования данных,
          проверка гипотез или исследования для определения, действительно ли типы (группы),
              выделенные тем или иным способом, присутствуют в имеющихся данных.</p>
          <h3>Часть 2</h3>
          <p>Независимо от предмета изучения применение кластерного анализа предполагает следующие этапы:
          Отбор выборки для кластеризации. Подразумевается, что имеет смысл кластеризовать только количественные данные.
          Определение множества переменных, по которым будут оцениваться объекты в выборке, то есть признакового пространства.
          Вычисление значений той или иной меры сходства (или различия) между объектами.
          Применение метода кластерного анализа для создания групп сходных объектов.
          Проверка достоверности результатов кластерного решения.</p>
          <pre class="line-numbers" style="15px solid green">
              <code class="language-python">for i in range(20):
                  print(i)</code></pre>
          <p class="text-center">
              <a href="/">Оглавление</a>
              <a href="/articles/k-means">->K-средних</a>
          </p>
      </div>

      <div class="col-2 d-none d-md-block" style="margin-top: 20px;">
        {% include "quick-chapter-navigation.html" %}
      </div>
</div>
{% endblock page_content %}