{% extends "base.html" %}
{% block title %}{{ article_header }}{% endblock %}

{% block page_content %}
<div class="row">
      <div class="col-2 d-none d-xxl-block">
        <h4 style="margin-top: 20px;">Содержание</h4>
        {% include "quick-textbook-navigation.html" %}
      </div>

      <div class="col" style="background-color: #FAFAFA; height: 100vh;">
          <h2 style="margin-top: 20px;">{{ article_header }}</h2>
          {% for block in article_content %}
            {% if block.type_of_text == "header" %}
                 <h4 id="{{ block.pk }}">{{ block.text_block }}</h4>
            {% elif block.type_of_text == "code" %}
                <pre class="line-numbers" style="15px solid green">
              <code class="language-python">{{ block.text_block }}</code>
                </pre>
            {% else %}
                <p>{{ block.text_block }}</p>
            {% endif %}
          {% endfor %}
          <pre class="line-numbers" style="15px solid green">
              <code class="language-python">for i in range(20):
                  print(i)</code></pre>

          <p class="text-center">
              {% if previous_article %}
                <a href="{% url 'article_page' previous_article.pk %}" class="article-link">
                    {{ previous_article.article_name }} <-</a>
              {% endif %}
              <a href="/" class="article-link">Оглавление</a>
              {% if next_article %}
                <a href="{% url 'article_page' next_article.pk %}" class="article-link">
                    -> {{ next_article.article_name }}</a>
              {% endif %}
          </p>
      </div>

      <div class="col-3 d-none d-md-block">
        {% include "quick-chapter-navigation.html" %}
      </div>
</div>
{% endblock page_content %}