.article { margin-left: 15px; }

.textbook-link {
    text-decoration: none;
    color: #000000; }

.textbook-link-read {
    text-decoration: none;
    color: #009900; }

.article-link {
    color: #000000;
    text-decoration: none;
    margin: 8px;
    font-size: 1.2rem;}

.boolean-style {
    font-size: 1.2rem;
    margin-bottom: 10px;}

.big-checkbox {
    width: 17px;
    height: 17px;}

ol {
   /* убираем стандартную нумерацию */
   list-style: none;
   counter-reset: main;
   --counter-value: 1; /* начальное значение счётчика */
   margin: 0;
   padding: 0; }

ol > li { position: relative; padding-left: 1em; }

li:before {
   counter-increment: main; /* Увеличиваем основной счтчик */
   content: counter(main) ". ";  /* Ставим номер главного счетчика с точкой перед элементом списка */ }

ol > li > ol {
    counter-reset: sub; /* Инициализируем дополнительный счетчик для подпунктов */
     --counter-value: 1; /* начальное значение счётчика */}

ol > li > ol > li { position: relative; padding-left: 4em; }

ol > li > ol > li::before {
    content: counter(main) "." counter(sub) ". "; /* Основной счетчик + дополнительный счетчик */
    counter-increment: sub; /* Увеличиваем дополнительный счетчик */
    position: absolute; left: 2em; /* Смещение для второго уровня */ }